<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    
    <title>{% block error_title %}Erreur - SEDEF BANK{% endblock %}</title>
    
    <!-- Meta tags SEO de base -->
    <meta name="description" content="{% block error_description %}Une erreur s'est produite.{% endblock %}">
    <meta name="author" content="SEDEF BANK">
    
    <!-- Favicons -->
    <link rel="icon" type="image/svg+xml" href="/logo.svg">
    <link rel="icon" type="image/png" href="/logo.png">
    
    {% block error_stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
        

        
</head>
<body>
  {% include 'partials/_top_header.html.twig' %}
            {% include 'partials/_header.html.twig' %}
    {% block error_body %}{% endblock %}

            {% include 'partials/_notifications.html.twig' %}
            {% include 'partials/_translate.html.twig' %}
            {% include 'partials/_footer.html.twig' %}
</body>
</html>
